@{
    Layout = "_LayoutForAdmin";
    ViewData["Title"] = "Contact";
}

<br />

<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary" style="height: auto">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Contact 1
                    </div>
                    <div class="panel-body">
                        <div styel="border-bottom: 1px dot;">
                            <h4>
                                Md. Touhedur Rahman<br />
                                Kamarpara,Uttara, Sector-10,Dhaka-1230.<br /><br />
                                Bachelor of Computer Science & Engineering.<br /><br />
                                IUBAT- International University of Business Agriculture and Technology<br /><br />
                                Phone: 01775-396637

                                <br /><br /><strong>Email:</strong> <a href="touhedurrahman7@gmail.com">touhedurrahman7@gmail.com</a><br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary" style="height: auto">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Contact 2
                    </div>
                    <div class="panel-body">
                        <div styel="border-bottom: 1px dot;">
                            <h4>
                                Faniam Maria Mansia<br />
                                Uttara, Sector-10,Dhaka-1230.<br /><br />
                                Bachelor of Computer Science & Engineering.<br /><br />
                                IUBAT- International University of Business Agriculture and Technology<br /><br />
                                Phone: 01750-578731

                                <br /><br /><strong>Email:</strong> <a href="mariamoon3349@gmail.com">mariamoon3349@gmail.com</a><br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary" style="height: auto">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Contact 3
                    </div>
                    <div class="panel-body">
                        <div styel="border-bottom: 1px dot;">
                            <h4>
                                Sadia Afrin<br />
                                Uttara, Sector-10,Dhaka-1230.<br /><br />
                                Bachelor of Computer Science & Engineering.<br /><br />
                                IUBAT- International University of Business Agriculture and Technology<br /><br />
                                Phone: 01749-160106

                                <br /><br /><strong>Email:</strong> <a href="sadiaafrinetu753@gmail.com">sadiaafrinetu753@gmail.com</a><br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




